<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <meta name="description" content="Maker working on digital products." />
    <link rel="shortcut icon" href="https://blog.ronaldlangeveld.com/favicon.png" type="image/png" />
    <link rel="canonical" href="https://blog.ronaldlangeveld.com/" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta property="og:site_name" content="Ronald Langeveld" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Ronald Langeveld" />
    <meta property="og:description" content="Maker working on digital products" />
    <meta property="og:url" content="https://blog.ronaldlangeveld.com/" />
    <meta property="og:image" content="https://blog.ronaldlangeveld.com/content/images/2018/06/IMG_0774--1-.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Ronald Langeveld" />
    <meta name="twitter:description" content="Maker working on digital products." />
    <meta name="twitter:url" content="https://blog.ronaldlangeveld.com/" />
    <meta name="twitter:image" content="https://blog.ronaldlangeveld.com/content/images/2018/06/IMG_0774--1-.jpg" />
    <meta name="twitter:site" content="@ronaldlangeveld" />
    <meta property="og:image:width" content="3264" />
    <meta property="og:image:height" content="2448" />

    <title>{% block title %}
    
    {% endblock title %}</title>

</head>
<body>
{% block main %}

{% endblock %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</html>