{% extends "base.html" %}
{% block title %}
Ronald Langeveld
{% endblock title %}

{% block main %}

<section id="bulmahero" class="hero is-light is-fullheight">
        <nav class="navbar is-transparent container" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                 <div class="navbar-item">
                        <div id="lightmode" style="display:none;" class="is-size-5 lmode"><i class="far fa-lightbulb"></i></div>
                        <div id="nightmode"  class="is-size-5 nmode"><i class="far fa-moon"></i></div>
        
                 </div>
                </div>
              </nav>
        <div class="hero-body">
          <div class="container">
            <h1 class="is-size-2">
              RONALD LANGEVELD
            </h1>
            <h2 class="subtitle is-4">
             Full Stack Indie Maker working on <a class="has-text-weight-bold" href="https://wip.chat/@ronaldl93" target="_blank">digital products</a>, remotely from <a class="has-text-weight-bold" href="https://nomadlist.com/@ronald" target="_blank">{{now}}</a>
            </h2>

            <div class="subtitle is-5">
            <a class="has-text-weight-bold" href="https://blog.ronaldlangeveld.com/" target="_blank">My thoughts, ideas and code notes</a>
            
            </div>

            <div class="subtitle is-5">
              Currently building <a class="has-text-weight-bold" href="https://talkdjango.xyz" target="_blank">Talk Django</a> and <a class="has-text-weight-bold" href="https://wip.chat/products/1526" target="_blank">Postt</a>
              
              </div>

                <div class="subtitle is-5">
                 <a href="/hire">I'm <span class="has-text-success">available</span> to build your product or website</a>

              </div>


            <h4 class="subtitle is-5">
                        <a id="twitter-btn" href="https://twitter.com/ronaldlangeveld" target="_blank"><i style="color: #1DA1F2;" class="fab fa-twitter"></i></a>
                        <a id="github-btn" href="https://github.com/ronaldlangeveld" target="_blank"><i class="fab fa-github"></i></a>
                        <a id="nomadlist-btn" href="https://nomadlist.com/@ronald" target="_blank"><i style="color: #ff5f5f;" class="fas fa-map"></i></a>
                        <a id="telegram-btn" href="https://t.me/ronaldla" target="_blank"><i style="color: #0088cc" class="fas fa-paper-plane"></i></a>

                        <span id="twitter-text" style="margin-left: 10px; display:none" class="is-size-7 texttag">Twitter</span>
                        <span id="github-text" style="margin-left: 10px; display:none" class="is-size-7 texttag">Github</span>
                        <span id="nomadlist-text" style="margin-left: 10px; display:none" class="is-size-7 texttag">Nomad List</span>
                        <span id="telegram-text" style="margin-left: 10px; display:none" class="is-size-7 texttag">Telegram</span>


            </h4>



          </div>
        </div>
      </section>
      <div id="feedbackpopup" class="feedback-popup expanded">
        <p id="feedback-close" style="text-align: right"><i class="fa fa-times" aria-hidden="true"></i></p>
        <p>Let me help you</p>
        <span class="text">Need help building your product? Or just wanna say Hello? Shoot me the details and I'll get back to you. I'm sorry, I had to remove my email due to lots of spam.</span>
        <br>
        <input id="contactName" type="text" placeholder="Name" class="name">
        <input id="contactEmail" type="email" placeholder="Email" class="email">
        <textarea id="contactMessage" placeholder="Write your message" class="message"></textarea>
        <div><button id="sendMessage" class="button">Send</button></div>
    </div>
    <div id="sendusfeedbackBTN" class="feedbackform">
        <button class="feedbackBTN"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Me</button>
    </div>
{% endblock main %}

